<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NuGet.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.8.60717.93" newVersion="2.8.60717.93" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Annotations" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Vestris.ResourceLib" publicKeyToken="ec632d8ba5e5750d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.33.0" newVersion="1.4.33.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nunit.core.interfaces" publicKeyToken="96d09a1eb7f44a77" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.4.14350" newVersion="2.6.4.14350" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nunit.core" publicKeyToken="96d09a1eb7f44a77" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.4.14350" newVersion="2.6.4.14350" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nunit.util" publicKeyToken="96d09a1eb7f44a77" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.4.14350" newVersion="2.6.4.14350" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="96d09a1eb7f44a77" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.4.14350" newVersion="2.6.4.14350" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Daemon.Engine" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-103.0.0.0" newVersion="103.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Daemon" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-103.0.0.0" newVersion="103.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Feature.Services" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-103.0.0.0" newVersion="103.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Psi" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-103.0.0.0" newVersion="103.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Platform.Util" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-103.0.0.0" newVersion="103.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Psi.Web" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-103.0.0.0" newVersion="103.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Platform.DocumentModel" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-103.0.0.0" newVersion="103.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Platform.Shell" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-103.0.0.0" newVersion="103.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Platform.ProjectModel" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-103.0.0.0" newVersion="103.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Platform.Metadata" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-103.0.0.0" newVersion="103.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Platform.TextControl" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-103.0.0.0" newVersion="103.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Daemon.Web" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-103.0.0.0" newVersion="103.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Daemon.CSharp" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-103.0.0.0" newVersion="103.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Psi.CSharp" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-103.0.0.0" newVersion="103.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Daemon.VB" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-103.0.0.0" newVersion="103.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Psi.VB" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-103.0.0.0" newVersion="103.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Platform.UI" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-103.0.0.0" newVersion="103.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Resources" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-103.0.0.0" newVersion="103.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Daemon.Specific" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-103.0.0.0" newVersion="103.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Daemon.Xml" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-103.0.0.0" newVersion="103.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Psi.Xml" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-103.0.0.0" newVersion="103.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Platform.ComponentModel" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-103.0.0.0" newVersion="103.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Platform.DocumentManager" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-103.0.0.0" newVersion="103.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Feature.Services.CSharp" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-103.0.0.0" newVersion="103.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Features.Navigation" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-103.0.0.0" newVersion="103.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Feature.Services.Web" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-103.0.0.0" newVersion="103.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Platform.Ide" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-103.0.0.0" newVersion="103.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Feature.Services.VB" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-103.0.0.0" newVersion="103.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Features.Inspections" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-103.0.0.0" newVersion="103.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.NewRefactorings" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-103.0.0.0" newVersion="103.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Feature.Services.Xml" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-103.0.0.0" newVersion="103.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Feature.Services.Xaml" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-103.0.0.0" newVersion="103.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Psi.Xaml" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-103.0.0.0" newVersion="103.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Psi.Resx" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-103.0.0.0" newVersion="103.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.I18n.Services" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-103.0.0.0" newVersion="103.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Daemon.Xaml" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-103.0.0.0" newVersion="103.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.I18n.Services.CSharp" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-103.0.0.0" newVersion="103.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.I18n.Services.VB" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-103.0.0.0" newVersion="103.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Intentions" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-103.0.0.0" newVersion="103.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Intentions.Web" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-103.0.0.0" newVersion="103.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Intentions.CSharp" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-103.0.0.0" newVersion="103.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Intentions.VB" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-103.0.0.0" newVersion="103.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Psi.Features.UI" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-103.0.0.0" newVersion="103.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Intentions.Xml" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-103.0.0.0" newVersion="103.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.LiveTemplates" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-103.0.0.0" newVersion="103.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Psi.BuildScripts" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-103.0.0.0" newVersion="103.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Platform.BuildInterfaces" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-103.0.0.0" newVersion="103.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.InplaceRefactorings" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-103.0.0.0" newVersion="103.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Refactorings.Html" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-103.0.0.0" newVersion="103.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Refactorings.CSharp" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-103.0.0.0" newVersion="103.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Platform.Interop" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-103.0.0.0" newVersion="103.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Platform.VisualStudio.Core" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-103.0.0.0" newVersion="103.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Platform.Interop.WinApi" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-103.0.0.0" newVersion="103.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.UnitTestFramework" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-103.0.0.0" newVersion="103.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup></configuration>
