<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.2.0" targetFramework="net45" />
  <package id="Castle.Core" version="3.2.2" targetFramework="net45" />
  <package id="Castle.Windsor" version="3.2.1" targetFramework="net45" />
  <package id="Catel.Core" version="3.8.1312160837-beta" targetFramework="net45" />
  <package id="Ninject" version="3.0.2-unstable-9049" targetFramework="net45" />
  <package id="SimpleInjector" version="2.4.0" targetFramework="net45" />
  <package id="structuremap" version="2.6.4.1" targetFramework="net40" />
  <package id="Unity" version="3.0.1304.1" targetFramework="net45" />
</packages>